{% extends 'admin/base_admin.html.twig' %}

{% block title %}Change password done{% endblock %}

{% block body %}
    <h1>Mot de passe modifié avec succès</h1>

    <p>Votre mot de passe a été modifié.</p>

{% endblock %}