{% extends 'admin/base_admin.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Modification du mot de passe</h1>

    {{ include('admin_password_change/_form.html.twig') }}

{% endblock %}