{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('admin_appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_appointment_index') }}">back to list</a>

    {{ include('admin_appointment/_delete_form.html.twig') }}
{% endblock %}
