{% extends 'base.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
    <h1>Create new Appointment</h1>

    {{ include('admin_appointment/_form.html.twig') }}

    <a href="{{ path('app_admin_appointment_index') }}">back to list</a>
{% endblock %}
