<form method="post" action="{{ path('app_admin_medical_file_illness_delete', {'id': medical_file_illness.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medical_file_illness.id) }}">
    <button class="btn">Delete</button>
</form>
