{% extends 'base.html.twig' %}

{% block title %}New MedicalFileIllness{% endblock %}

{% block body %}
    <h1>Create new MedicalFileIllness</h1>

    {{ include('admin_medical_file_illness/_form.html.twig') }}

    <a href="{{ path('app_admin_medical_file_illness_index') }}">back to list</a>
{% endblock %}
