{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit Illness{% endblock %}

{% block body %}
    <h1>Edit Illness</h1>

    {{ include('admin_illness/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_illness_index') }}">back to list</a>

    {{ include('admin_illness/_delete_form.html.twig') }}
{% endblock %}
