{% extends 'admin/base_admin.html.twig' %}

{% block title %}New PatientRoom{% endblock %}

{% block body %}
    <h1>Create new PatientRoom</h1>

    {{ include('admin_patient_room/_form.html.twig') }}

    <a href="{{ path('app_admin_patient_room_index') }}">back to list</a>
{% endblock %}
