{% extends 'base.html.twig' %}

{% block title %}New Procedure{% endblock %}

{% block body %}
    <h1>Create new Procedure</h1>

    {{ include('admin_procedure/_form.html.twig') }}

    <a href="{{ path('app_admin_procedure_index') }}">back to list</a>
{% endblock %}
