{% extends 'base.html.twig' %}

{% block title %}Edit RoomEquipment{% endblock %}

{% block body %}
    <h1>Edit RoomEquipment</h1>

    {{ include('admin_room_equipment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_room_equipment_index') }}">back to list</a>

    {{ include('admin_room_equipment/_delete_form.html.twig') }}
{% endblock %}
