{% extends 'admin/base_admin.html.twig' %}

{% block title %}New RoomEquipment{% endblock %}

{% block body %}
    <h1>Create new RoomEquipment</h1>

    {{ include('admin_room_equipment/_form.html.twig') }}

    <a href="{{ path('app_admin_room_equipment_index') }}">back to list</a>
{% endblock %}
