{% extends 'base.html.twig' %}

{% block title %}New Prescription{% endblock %}

{% block body %}
    <h1>Create new Prescription</h1>

    {{ include('admin_prescription/_form.html.twig') }}

    <a href="{{ path('app_admin_prescription_index') }}">back to list</a>
{% endblock %}
