{% extends 'admin/base_admin.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <h1>Create new Address</h1>

    {{ include('admin_address/_form.html.twig') }}

    <a href="{{ path('app_admin_address_index') }}">back to list</a>
{% endblock %}
