{% extends 'base.html.twig' %}

{% block title %}New Nurse{% endblock %}

{% block body %}
    <h1>Create new Nurse</h1>

    {{ include('admin_nurse/_form.html.twig') }}

    <a href="{{ path('app_admin_nurse_index') }}">back to list</a>
{% endblock %}
