{% extends 'admin/base_admin.html.twig' %}

{% block title %}Edit Medication{% endblock %}

{% block body %}
    <h1>Edit Medication</h1>

    {{ include('admin_medication/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_medication_index') }}">back to list</a>

    {{ include('admin_medication/_delete_form.html.twig') }}
{% endblock %}
